# --- OSX ---
.DS_Store
.AppleDouble
.LSOverride
._*

# --- Editors ---
*.swp
*.swo

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Icon must end with two \r
Icon


# --- Linux ---
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# --- Python ---
*.py[cod]
*$py.class
.coverage
.venv

# --- Django ---
*.log
*.pot
*.pyc
__pycache__/
**/settings/local_overrides.py
*.sqlite3
media

testcred.json
createbucket.py
