[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2.9"
gunicorn = "~=20.0.0"
drf-yasg = "~=1.20.0"
django-mysql = "~=3.11.1"
djangorestframework = "<3.12"
django-cors-headers = "*"
google-auth = "*"
mysqlclient = "*"
djangorestframework-simplejwt = "*"
google-cloud-storage = "*"
google-cloud-pubsub = "*"
django-filter = "*"

[dev-packages]
flake8 = "~=3.8.4"
pre-commit = "~=2.7"
yapf = "~=0.30"

[requires]
python_version = "3.8"
